<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/docs/assets/ico/favicon.ico">

    <title>Pictonary - Sala principal</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.event.drag-2.0.js"></script>
	<script type="text/javascript" src="src/scripts.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<script src="docs/assets/js/docs.min.js"></script>

    <!-- Bootstrap core css -->
    <link href="css/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <script src="function/getURL.js"></script>
    <script>
      var username = getUrlParameters("nick", "", true);
      //var username = "Hola";
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="function/chatGlobal.js">
      /*var socket = io.connect('http://192.168.1.125:8080');

      socket.on('connect', function(){
        socket.emit('adduser', username);
      });

      socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
      });

      socket.on('updaterooms', function(rooms, current_room) {
        $('#rooms').empty();
        $.each(rooms, function(key, value) {
          if(value == current_room){
            $('#rooms').append('<div>' + value + '</div>');
          }
          else {
            $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
          }
        });
      });

      socket.on('updateusers', function(usernames) {
        $('#usernames').empty();
        var cantidad=0;
        $.each(usernames, function(key, value) {
            $('#usernames').append('<div>' + value + '</div>');
            cantidad++;
        });
        //alert(cantidad);
      });

      function switchRoom(room){
        socket.emit('switchRoom', room);
      }
      
      $(function(){
        $('#datasend').click( function() {
          var message = $('#data').val();
          $('#data').val('');
          socket.emit('sendchat', message);
        });

        $('#data').keypress(function(e) {
          if(e.which == 13) {
            $(this).blur();
            $('#datasend').focus().click();
          }
        });
      });

      $(function(){
        $('#crearsala').click( function() {
          var sala = $('#CrearSala').val();
          $('#CrearSala').val('');
          socket.emit('create', sala);
        });
      });/*

    </script>

  </head>

  <body>


<div class="site-wrapper">

  <div class="site-wrapper-inner">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pictonary</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><h3>Usuarios conectados</h3></li>
            <div id="usernames"></div>
          </ul>
          <br><br>        
        </div>

        <div class="col-sm-8 col-md-14 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><h3>Chat de la sala principal</h3></li>
            <div id="conversation"></div>
              <input id="data" style="width:200px;" />
              <input type="button" id="datasend" value="Enviar" />
          </ul>
          <br><br>          
        </div>


        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><h3>Salas</h3></li>
            <div id="rooms"></div>
            <input id="CrearSala" style="width:200px;" />
            <input type="button" id="crearsala" value="Crear Sala" />
          </ul>
          <br><br>          
        </div>        

        <div class="mastfoot">
          <div class="inner">
            <p> <a href="#"> </a> <a href="#"> </a>.</p>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
